<section id="create-<%= slugifiedName %>">

	<div class="row wrapper border-bottom blue-bg page-heading">
		<div class="col-lg-12">
			<h2>Crear <%= featureSingularName %></h2>
		</div>
	</div>

	<div class="ibox">

		<div class="ibox-content">

			<div class="row">

				<form name="form" ng-submit="vm.createAndRedirect(form)" novalidate>

					<formly-form model="vm.<%= camelizedSingularName %>" fields="vm.fields" form="form"></formly-form>

					<div class="col-sm-12">

						<div class="form-group pull-right">
							<button type="submit" class="btn btn-success" ng-disabled="(form.$dirty || form.$submitted) && form.$invalid">
								<i class="glyphicon glyphicon-ok"></i> Guardar
							</button>
							<a class="btn btn-danger" ui-sref="<%= moduleName %>.list">
								<i class="glyphicon glyphicon-remove"></i> Cancelar
							</a>
						</div>

					</div>

				</form>

				<div ng-show="vm.error" class="alert alert-danger form-group">
					<strong ng-bind="vm.error"></strong>
				</div>

				<pre ng-if="$root.$verbose">{{ vm.<%= camelizedSingularName %> | json:spacing }}</pre>

			</div>

		</div>

	</div>

</section>