<section id="list-<%= slugifiedName %>">

	<div class="row wrapper border-bottom blue-bg page-heading">
		<div class="col-lg-12">
			<h2>
				<%= featurePluralName %>
				<button class="btn btn-primary pull-right" ui-sref="<%= moduleName %>.create">
					<i class="fa fa-lg fa-plus"></i> Añadir
				</button>
			</h2>

		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
					<h5><strong>Busqueda</strong></h5>
					<div ibox-tools="false"></div>
				</div>
				<div class="ibox-content m-b-sm border-bottom">

					<form name="form" ng-submit="vm.search.doSearch()" novalidate>

						<formly-form model="vm.search.params" fields="vm.search.fields" form="form"></formly-form>

						<div class="col-md-12">
							<button class="btn btn-outline btn-success pull-right" type="button">
								<i class="fa fa-lg fa-search-plus"></i>
								Buscar
							</button>
						</div>

						<div class="clearfix"></div>
					</form>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><strong><%= featurePluralName %></strong></h5>
					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
					<table class="table table-striped" datatable="ng" dt-options="dtOptions" dt-column-defs="vm.dtColumnDefs">
						<thead>
						<tr>
							<th>Header</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="item in vm.<%= camelizedPluralName %>">
							<td>{{ item }}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</section>